.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  /* parallax */
  background-image: url("./res/food-parallax.jpg");
  background-attachment: fixed;
  /* original 
    background-color: #f59e42;
  */
  min-height: 100vh;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-body{ /*to be used in divs or containers after the nav bar*/
  padding-top: 64px;
}
.paper-board {
  margin-left: "12%";
  margin-right: "12%";
  margin-top: "4.5%";
  width:'75%';
  background-image : url("./res/old_chopping_board_chopped.png");
  background-size : "contain",
}
#mapM{
  width:100%;
  height:100vh;
  /*top: 62px;
  left: 0;
  bottom: 100px;
  right: 0;*/
  
}
.link-clean{
  color:white;
  text-decoration: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    background-color: transparent;
    /*-webkit-box-shadow: 0 0 0 30px transparent inset !important;/*#f59e42 this makes the background color yellowish, we might want to change color*/
    -webkit-transition-delay: 99999s;
}


